*{
    padding: 0;
    margin: 0;
    text-decoration: none

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px 0px;
}
header > h1{
    font-family: "Passion One",cursive;
    font: bold;
    font-size: 153px;
    text-transform: uppercase;
   

}
header>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
header a{
    color: white;
    font-weight: bolder;

}
header a:hover{
    text-decoration: underline;
}
span{
    font-size: 1.7em;
}

main{
    font-family: "Sriracha", cursive;  
}

main p{
    font-size: 53px;
    text-align: justify;
    padding: 20px;
    padding-bottom: 2em;
}
 
main .foto01{
    background-image: url('imagens/background001.jpg');
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}
main .textoft01{
    background-color: rgba(0, 0, 0, 0.295);
    display: inline-block;
    padding: 5px;
}
main .foto02{
    background-image: url('imagens/background002.jpg');
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

main .textoft02{
    background-color: rgba(0, 0, 0, 0.295);
    display: inline-block;
    padding: 5px;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
  
}




footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
    background-attachment: fixed;
}
footer a{
    color: white;
}
footer a:hover{
    text-decoration: underline;
}